extends layout

block Contenido
    .contenido-principal
        h1 #{nombrePagina}
        
        if(errores)
            each error in errores
                .alerta.error= error.texto
        
        form.agregar-proyecto(action='/nuevo-proyecto' method='POST')
            .campo
                label(for='nombre') Nombre
                input(type='text' id='nombre' name='nombre' placeholder='Nombre Proyecto')
            .campo.enviar
                input(type='submit' value='agregar' class="boton")
